<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
    <title>Login</title>
  </head>
  <body>
    <h1>Hello- Please Login to see you TODO page</h1>
    <form action="/" method="post">
      <input type="text" placeholder="User Name" name="username" required>
      <input type="text" placeholder="Password" name="password" required>
      <button type="submit" name="userLogin">Login</button>
    </form>
<h1>Don't have an account? Create one now</h1>
    <form action="/signup" method="post">
      <input type="text" placeholder="User Name" name="username" required>
      <input type="text" placeholder="Password" name="password" required>
      <button type="submit" name="userLogin">Login</button>
    </form>
  </body>
</html>